.container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .image {
    width: 200px;
    height: auto;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 8px;
  }
  
  .description {
    background-color: #555;
    color: #fff;
    border-radius: 8px;
    padding: 20px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    flex: 1;
  }
  
  .description:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .trailer-header {
    margin-top: 20px;
    color: #a600ff;
  }
  
  .backButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .backButton:hover {
    background-color: #444;
  }

  .title {
    color: #a600ff;
  }

  .genre{
    color: #a600ff;
  }